*.o
*.so
*~
..Rcheck/
.configure
.RData
.Rhistory
.Rproj.user
autom4te.cache
config.log
config.status
docs/
functions_with_boot_R.txt
hadron.Rcheck
hadron_*.tar.gz
man/*.Rd
man/.Rhistory
NAMESPACE
R/RcppExports.R
src/RcppExports.cpp
src/symbols.rds
tags
vignettes/*.html
vignettes/*.log
vignettes/*.pdf
configure
/doc/
/Meta/
src/Makevars
