exportPattern("^cf.*")
exportPattern("*.cf")
exportPattern("^plot.*")
exportPattern("^analysis_*")
exportPattern("^print.*")
exportPattern("^summary.*")
exportPattern("^bootstrap.*")
exportPattern("^read.*")
exportPattern("^tikz.*")
exportPattern("^uwerr.*")
exportPattern("^eff.*")
exportPattern("^fs\\..*")
exportPattern("^[^\\.].*cf")
exportPattern("^computefps.*")
exportPattern("^extract.*")
exportPattern("^jab\\..*")
exportPattern("^compute\\..*")
exportPattern("^loop_*")
exportPattern("^disc_*")
export(gevp, gevp2cf, gevp2amplitude)
export("overview_plot_raw_cf")
export("cyprus_read_loops")
export("hankel2effectivemass")
export(g1, onlinemeas, alphas, cdh, cdhnew, new_matrixfit, matrixfit, subtract.excitedstates, invertCovMatrix, getorderedfilelist, averx, LuescherZeta, computeacf, computeDisc, CExp, pcac, pion, zetazp, proton, getorderedconfignumbers, fit.effectivemass, invcosh, tex.catwitherror, fit.cosh)
export(gm,gm_mu)
export(foldr1)
export(escapeLatexSpecials)
export(parametric.bootstrap)
export(parametric.bootstrap.cov)
export(parametric.nlsfit)
export(old_removeTemporal.cf)
export(parametric.nlsfit.cov)
export(simple.nlsfit)
export(jackknife_cov)
export(jackknife_error)
export(weight_shift_reweight.cf)
export(string2error)
export(residual_plot)
export(residual_plot.bootstrapfit)
##exportPattern("^[^\\.]")
useDynLib(hadron)
export(h5_get_dataset)
importFrom("grDevices", "col2rgb", "dev.cur", "dev.off",
           "rainbow", "rgb")
importFrom("graphics", "abline", "arrows", "axis", "barplot",
           "grconvertX", "grconvertY", "hist", "legend", "lines",
           "par", "plot", "points", "polygon", "rect", "segments",
           "title")
importFrom("stats", "acf", "approx", "complete.cases", "cov", "deltat",
           "na.omit", "optim", "pchisq", "pgamma", "qchisq", "qqplot",
           "quantile", "rchisq", "rnorm", "sd", "spec.pgram", "spline",
           "uniroot", "var", "weighted.mean", "cor", "rgeom")
importFrom("utils", "count.fields", "read.table", "setTxtProgressBar",
           "txtProgressBar")
importFrom("grDevices", "dev.new")
importFrom("Rcpp", "evalCpp")

# to avoid complaints about unused imports...
importFrom("R6", "R6Class")

S3method(`*`, raw_cf)
S3method(`+`, cf)
S3method(`+`, raw_cf)
S3method(`-`, cf)
S3method(`-`, raw_cf)
S3method(`/`, cf)
S3method(`/`, raw_cf)
S3method(c, cf)
S3method(c, raw_cf)
S3method(extract_mass, matrixfit)
S3method(extract_mass, effectivemassfit)
S3method(plot, averx)
S3method(plot, b1fit)
S3method(plot, bootstrapfit)
S3method(plot, cf)
S3method(plot, cfit)
S3method(plot, coshfit)
S3method(plot, effectivemass)
S3method(plot, effmass)
S3method(plot, gevp.amplitude)
S3method(plot, hadronacf)
S3method(plot, massfit)
S3method(plot, matrixfit)
S3method(plot, ofit)
S3method(plot, outputdata)
S3method(plot, pionff)
S3method(plot, pionfit)
S3method(plot, raw_cf)
S3method(plot, rhofit)
S3method(plot, uwerr)
S3method(print, averx)
S3method(print, bootstrapfit)
S3method(print, cf)
S3method(print, effectivemassfit)
S3method(print, ofit)
S3method(print, pionfit)
S3method(print, raw_cf)
S3method(summary, averx)
S3method(summary, bootstrapfit)
S3method(summary, cf)
S3method(summary, coshfit)
S3method(summary, effectivemass)
S3method(summary, effectivemassfit)
S3method(summary, gevp.amplitude)
S3method(summary, hadronacf)
S3method(summary, matrixfit)
S3method(summary, ofit)
S3method(summary, pionff)
S3method(summary, pionfit)
S3method(summary, raw_cf)
S3method(summary, uwerr)
S3method(residual_plot, bootstrapfit)
