exportPattern("^cf.*")
exportPattern("*.cf")
exportPattern("^plot.*")
exportPattern("^analysis_*")
exportPattern("^print.*")
exportPattern("^summary.*")
exportPattern("^bootstrap.*")
exportPattern("^read.*")
exportPattern("^tikz.*")
exportPattern("^uwerr.*")
exportPattern("^eff.*")
exportPattern("^fs\\..*")
exportPattern("^[^\\.].*cf")
exportPattern("^computefps.*")
exportPattern("^extract.*")
exportPattern("^jab\\..*")
exportPattern("^compute\\..*")
exportPattern("^loop_*")
exportPattern("^disc_*")
export(gevp, gevp2cf, gevp2amplitude)
export("overview_plot_raw_cf")
export("cyprus_read_loops")
export(g1, onlinemeas, alphas, cdh, cdhnew, matrixfit, subtract.excitedstates, invertCovMatrix, getorderedfilelist, averx, LuescherZeta, computeacf, computeDisc, CExp, pcac, pion, zetazp, proton, getorderedconfignumbers, fit.effectivemass, invcosh, tex.catwitherror, fit.cosh)
export(gm,gm_mu)
export(foldr1)
export(escapeLatexSpecials)
export(parametric.bootstrap)
export(parametric.bootstrap.cov)
export(parametric.nlsfit)
export(parametric.nlsfit.cov)
export(jackknife_cov)
export(jackknife_error)
##exportPattern("^[^\\.]")
useDynLib(hadron)
export(h5_get_dataset)
importFrom("grDevices", "X11", "col2rgb", "dev.cur", "dev.off",
           "rainbow", "rgb")
importFrom("graphics", "abline", "arrows", "axis", "barplot",
           "grconvertX", "grconvertY", "hist", "legend", "lines",
           "par", "plot", "points", "polygon", "rect", "segments",
           "title")
importFrom("stats", "acf", "approx", "complete.cases", "cov", "deltat",
           "na.omit", "optim", "pchisq", "pgamma", "qchisq", "qqplot",
           "quantile", "rchisq", "rnorm", "sd", "spec.pgram", "spline",
           "uniroot", "var", "weighted.mean", "cor", "rgeom")
importFrom("utils", "count.fields", "read.table", "setTxtProgressBar",
           "txtProgressBar")
importFrom(Rcpp, evalCpp)
