exportPattern("^cf.*")
exportPattern("*.cf")
exportPattern("^plot.*")
exportPattern("^analysis_*")
exportPattern("^print.*")
exportPattern("^summary.*")
exportPattern("^bootstrap.*")
exportPattern("^gevp.*")
exportPattern("^read.*")
exportPattern("^tikz.*")
exportPattern("^uwerr.*")
exportPattern("^ChiSqr.*")
exportPattern("^eff.*")
exportPattern("^fs\\..*")
exportPattern("^[^\\.].*cf")
exportPattern("^computefps.*")
exportPattern("^weighted.*")
exportPattern("^extract.*")
exportPattern("^jab\\..*")
exportPattern("^compute\\..*")
export(g1, onlinemeas, alphas, cdh, cdhnew, matrixfit, subtract.excitedstates, invertCovMatrix, getorderedfilelist, averx, LuescherZeta, computeacf, computeDisc, CExp, pcac, pion, pp, zetazp, ppcorr, ppeffectivemass, proton, getorderedconfignumbers, fit.effectivemass)
##exportPattern("^[^\\.]")
useDynLib(hadron)
