#!/bin/bash

cd {{ outpath }}/{{ lattice }}/5_fit-data
for d in {% for p, irreps_p in irrepmoms.items() -%}
  {%- for irrep in irreps_p -%} 
    p{{ p }}/{{ irrep }}{{ ' ' }}
  {%- endfor -%}
{%- endfor %}; do
  echo doing $d
  cd $d
  Rscript /hiskp2/werner/code/hadron/exec/rho-phaseshift/analyse.R {{ outpath }}/{{ lattice }}/{{ lattice }}-analyse.R >& analyse.log
  Rscript /hiskp2/werner/code/hadron/exec/rho-phaseshift/average.data.R {{ outpath }}/{{ lattice }}/{{ lattice }}-analyse.R >& average.log
  cd ../../
done
